@font-face {
  font-family: gillsans;
  src: url(fonts/subset-GillSansNova-Medium.woff2);
}

/* @font-face {
  font-family: gillsans-semibold;
  src: url(fonts/subset-GillSansNova-Bold.woff2);
} */

@font-face {
  font-family: gillsans-bold;
  src: url(fonts/subset-GillSansNova-Bold.woff2);
}

sup, sub {
  font-size: 50%;
}

html, body {
  width:728px;
  height:90px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:90px;

}

#main {
  overflow:hidden;
}

#imageCont {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:90px;
  overflow:hidden;
}

.full-width-img {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 728px;
  height: auto;
}

.copy {
  font-family: "gillSans";
  color: #EBDAA4;
}

.gradient-text {
  background: transparent linear-gradient(90deg, #CEBA79 0%, #FFF4C4 40%, #FFF4BD 68%, #C3AB75 100%) 0% 0% no-repeat padding-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-family: "gillSans-bold";
}

.main-text {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  line-height: 1.1;
  text-align: center;
}

.secondary-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  text-align: left;
}

.tertiary-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.133;
  text-align: left;
}

.treeBackground {
  position: absolute;
  width: 511px;
  height: auto;
  left: 100px;
  top: -147px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.treeTextImage {
  width: 13px;
  height: auto;
  left: 125px;
  top: 11px;
}

.teddyBackground {
  position: absolute;
  width: 352px;
  height: auto;
  left: 246px;
  top: -20px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.teddyTextImage {
  width: 22px;
  height: auto;
  left: 121px;
  top: 11px;
}

.baubleBackground {
  position: absolute;
  width: 448px;
  height: auto;
  left: 207px;
  top: -30px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.baubleTextImage {
  width: 15px;
  height: auto;
  left: 124px;
  top: 11px;
}

.hidden {
  opacity: 0;
}

#copy1,
#midframe,
#endframe {
  position:absolute;
  left: 0px;
  height: auto;
}

#copy1 {
  top: 28px;
  width: 269px;
}

#midframe, #endframe {
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#midframe {
  top: 12px;
}

#endframe {
  top: 12px;
}

#midframe, #endframe > * {
  position: relative
}

#copy2{
  margin-bottom: 4px;
}

#copy4 {
  margin-bottom: 4px;
}

#cta-shine-container {
  position: absolute;
  top: 32px;
  left: 474px;
  width: 728px;
  height: 90px;
}

#cta,
#cta-shine-container  {
  width: 94px;
  height: 26px;
  text-align: center;
  transform-origin: 50% 50%;
}

#cta {
  text-align: center;
  transform-origin: 50% 50%;
}

#cta-shine-container {
  overflow: hidden;
}

#cta-shine {
  position: absolute;
  top: 0px;
  left: -250px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 0.9;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #FFF4C4, /* middle gold */
  0 0 140px 90px #FFF4BD; /* outer gold */
}

.terms {
  position: absolute;
  right: 136px;
  top: 76px;
  font-size: 8px;
  line-height: normal;
  color: #EBDAA4;
}

#logo-bar {
  position: absolute;
  top: 0px;
  left: 598px;
  width: 130px;
  height: 90px;
  background-color: #ffffff;
}

/* #logo-1,
#logo-2,
#logo-3,
#logo-4 {
  background-color: #000000;
  position: absolute;
  top: 557px;
  left: 27px;
  width: 0px;
  height: 17px;
  transform-origin: 0% 50%;
} */

#logo {
  position: absolute;
  top: 26px;
  left: 624.5px;
  width: 77px;
  height: auto;
}

#sparkles1,
#sparkles2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 265px;
  height: 90px;
}

.sparkle {
  position: absolute;
  height: auto;
  opacity: 0;
  z-index: 500;
  transform: scale(0.5);
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#guide {
  position: absolute;
  top: 0;
  opacity: 0.4;
}
