@font-face {
  font-family: EMprintBold;
  src: url(fonts/subset-EMprint-Bold.woff2);
}

@font-face {
  font-family: EMprintSemiBold;
  src: url(fonts/subset-EMprint-Semibold.woff2);
}

/* @font-face {
  font-family: EMprintRegular;
  src: url(fonts/subset-EMprint-Regular.woff2);
} */

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.75em;
  font-size: 0.5em;
}
sub { 
  top: 0.4em; 
}

html, body {
  width:300px;
  height:600px;
  margin: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: auto;
}

.text-center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:600px;
  background-color: #ffffff;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:600px;
  overflow:hidden;
}

.wheel {
  width: 300px;
  height: auto;
}

#wheel-container {
  top: 238px;
  left: 0px;

  z-index: 10;
}

.light {
  width: 11px;
}

.light-half {
  z-index: 1;
}

.light-off {
  z-index: 2;
}

#light-off-1,
#light-half-1 {
  top: 34px;
  left: 145px;
}

#light-off-2,
#light-half-2 {
  top: 49px;
  left: 199px;
}

#light-off-3,
#light-half-3 {
  top: 90px;
  left: 239px;
}

#light-off-4,
#light-half-4 {
  top: 144px;
  left: 254px;
}

#light-off-5,
#light-half-5 {
  top: 198px;
  left: 239px;
}

#light-off-6,
#light-half-6 {
  top: 238px;
  left: 199px;
}

#light-off-7,
#light-half-7 {
  top: 253px;
  left: 144px;
}

#light-off-8,
#light-half-8 {
  top: 238px;
  left: 89px;
}

#light-off-9,
#light-half-9 {
    top: 199px;
    left: 49px;
}

#light-off-10,
#light-half-10 {
    top: 144px;
    left: 35px;
}

#light-off-11,
#light-half-11 {
    top: 90px;
    left: 49px;

}

#light-off-12,
#light-half-12 {
    top: 49px;
    left: 89px;
}


#copy-container {
  width: 300px;
  height: 600px;
}

.copy {
  font-family: "EMprintBold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  z-index: 5;
}

.bold {
  font-family: "EMprintBold", sans-serif;
}

.semibold {
  font-family: "EMprintSemiBold", sans-serif;
}

.regular {
  font-family: "EMprintRegular", sans-serif;
}

.copy1 {
  width: 260px;
  
  font-size: 29px;
  line-height: 33px;
}

.copy2 {
  width: 150px;

  font-size: 17px;
  line-height: 20px;
}

.terms-text {
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;
  text-align: left;
}

.one-spacing {
  letter-spacing: -0.07em;
}

#text-1,
#text-2 {
  top: 89px;
  left: 30px;
}

#cta {
  transform-origin: center;
  border-radius: 100px;
  top: 201px;
  left: 28px;
  background: #fe000c;
  border: 1px #fe000c solid;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  width: 132px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-text {
  position: relative;
  /* top: 1px; */
}

#chevron {
  position: relative;
  top: 1px;
  width: auto;
  height: 11px;
}


#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
