@font-face {
  font-family: 'GTUltra';
  src: url('fonts/subset-GTUltraLloyds-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'GTUltra-light';
  src: url('fonts/subset-GTUltra-Light.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'GTUltra-Median';
  src: url('fonts/subset-GTUltraMedian-Black.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTUltra-Bold';
  src: url('fonts/subset-GTUltraLloyds-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

sup,
sub {
  font-size: 50%;
}

#cta {
}

html,
body,
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#bg {
  z-index: -1;
  opacity: 0.05;
  transform: scale(1.23) translateY(9px) translateX(10px);
}



.absolute {
  position: absolute;
}

.full-width {
  width: 970px;
  height: auto;
}

#main {
  position: relative;
  left: 0px;
  top: 0px;
  width: 970px;
  height: 250px;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #6CF479;
}

#bgExit {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 970px;
  height: 250px;
  cursor: pointer !important;
  z-index: 100;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.regular {
  font-family: "GTUltra", sans-serif;
}

.median {
  font-family: "GTUltra-Median", sans-serif;
}

.light {
  font-family: "GTUltra-light", sans-serif;
}

.bold {
  font-family: "GTUltra-Bold", sans-serif;
}

#text1,
#text2,
#text3,
#text4,
#text5 {
  width: 970px;
  color: #000000;
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

#text1,
#text2 {
  top: 59px;
  left: 0px;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: -0.02rem;
}

#text3 {
  top: 60px;
  left: 0px;
  font-size: 23px;
  line-height: 27.5px;
}

#text4,
#text5 {
  bottom: 20px;
  left: 0px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.02rem;
}

#text5 {
  bottom: 5px;
}

.content {
  background-color: #6cf479;
  height: 114px;
  width: 970px;
  top: 136px;
  right: 0px;
  text-align: center;
  position: absolute;
}

.cover_image {
  width: 970px;
  height: 250px;
}

.copy {
  width: 970px;
  line-height: 20px;
  font-size: 18px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 148px;
}

#cta {
  padding: 10px 19px 10px 19px;
  background-color: #C7FFC6;
  position: absolute;
  z-index: 1;
  top: 144px;
  left: 414px;
  font-size: 16px;
  letter-spacing: -0.3px;
  text-align: center;
  border-radius: 5px;
}

.small_text {
  font-family: "GTUltra-Light";
  color: #fff;
  font-size: 5px;
  text-align: left;
  top: 8px;
  left: 8px;
  position: absolute;
  line-height: 6px;
}

.part-one, .part-two, .part-three, #text2{
  display: block;
}

#horseGif{
  z-index: 100;
  width: 100%;
  position: relative;
}

.gif-container{
  width: 42px;
  position: absolute;
  left: 129px;
  top: 3px;
}

.logo-cover{
  background-color:#6CF479;
  width: 71%;
  height: 80%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  top: 45%;
  position: absolute;
  z-index: 1;
}

#animation {
  width: 285px;
  bottom: -9px;
  left: 22px;
}
