
sup, sub {
  font-size: 50%;
}

html, body {
  width:120px;
  height:600px;
  margin: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.absolute {
  position:absolute;
  top: 0px;
  left: 0px;
}

.full-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: auto;
}

.extended-width {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 350px;
  height: auto;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:600px;
  background-color: #0C479D;
}

#main {
  overflow:hidden;
}

#image-container {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:600px;
  overflow:hidden;
}

#txt7,
#txt8 {
  top: 494px;
}

#cta {
  width: 93px;
  height: auto;
  top: 462px;
  left: 13px;
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
