@font-face {
  font-family: "gillsans";
  src: url(fonts/subset-GillSansNova-Medium.woff2);
}

@font-face {
  font-family: "gillsans-bold";
  src: url(fonts/subset-GillSansNova-Bold.woff2);
}

sup, sub {
  font-size: 50%;
}

html, body {
  width:160px;
  height:600px;
  margin: 0;
}

#main,
#background {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:600px;
  overflow:hidden;
}

#main {
  overflow:hidden;
}

#imageCont {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:600px;
  overflow:hidden;
}

.full-width-img {
  position:absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: auto;
}

.copy {
  font-family: "gillSans";
  color: #EBDAA4;
}

.gradient-text {
  background: transparent linear-gradient(90deg, #CEBA79 0%, #FFF4C4 40%, #FFF4BD 68%, #C3AB75 100%) 0% 0% no-repeat padding-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold {
  font-family: "gillSans-bold";
}

.main-text {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: center;
}

.secondary-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
}

.tertiary-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.125;
  text-align: center;
}

.hidden {
  opacity: 0;
}

.treeBackground {
  position: absolute;
  width: 649px;
  height: 630px;
  left: -156px;
  top: 91px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.treeTextImage {
  width: 17px;
  height: auto;
  left: 71px;
  top: 46px;
}

.teddyBackground {
  position: absolute;
  width: 395px;
  height: auto;
  left: -200px;
  top: 178px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.teddyTextImage {
  width: 29px;
  height: auto;
  left: 65px;
  top: 46px;
}

.baubleBackground {
  position: absolute;
  width: 326px;
  height: auto;
  left: -28px;
  top: 211px;
  transform-origin: 50% 50%;
  transform: scale(0.9);
}

.baubleTextImage {
  width: 19px;
  height: auto;
  left: 70px;
  top: 46px;
}

#copy1,
#midframe,
#endframe {
  position:absolute;
  left: 0px;
  width: 160px;
  height: auto;
}

#copy1 {
  top: 79px;
}

#endframe, #midframe {
  top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#endframe > * {
  position: relative
}

#copy2 {
  margin-bottom: 8px;
}

#copy4 {
  margin-bottom: 12px;
}

#price {
  margin-bottom: 19px;
}

#cta,
#cta-shine-container  {
  position: relative;
  width: 94px;
  height: 26px;
  text-align: center;
  transform-origin: 50% 50%;
}

#cta-shine-container {
  overflow: hidden;
}

#cta-shine {
  position: absolute;
  top: 0px;
  left: -250px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  opacity: 0.9;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #FFF4C4, /* middle gold */
  0 0 140px 90px #FFF4BD; /* outer gold */
}

.terms {
  position: absolute;
  top: 514px;
  left: 10px;
  font-size: 8px;
  line-height: 1.875;
  color: #EBDAA4;
}

#logo-bar {
  position: absolute;
  top: 532px;
  left: 0px;
  width: 160px;
  height: 68px;
  background-color: #ffffff;
}

/* #logo-1,
#logo-2,
#logo-3,
#logo-4 {
  background-color: #000000;
  position: absolute;
  top: 557px;
  left: 27px;
  width: 0px;
  height: 17px;
  transform-origin: 0% 50%;
} */

#logo {
  position: absolute;
  top: 560px;
  left: 13px;
  width: 134px;
  height: auto;
}

#sparkles1,
#sparkles2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
}

.sparkle {
  position: absolute;
  height: auto;
  opacity: 0;
  z-index: 500;
  transform: scale(0.5);
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 85;
  background-color: rgba(255,255,255,0);
  border:1px solid #000000;
  box-sizing:border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#guide {
  opacity: 0.4;
}

#product {
  top: 20px;
}